*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
}

nav {
    display: flex;
    align-items: center;
    font-family: sans-serif;
    justify-content: space-between;
    background-color: #D1E3FF;
   padding: 0 5rem;
}

nav > ul {
    display: flex;
    align-items: center;
  
}


nav > ul li, a{
    padding: 1rem;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.795);
}

.logo {
    color: #015ACE;
    font-weight: 700;
    font-size: 2rem;
}